body {
  background-color: #eee;
}

.Page {
  background-color: #fff;
  page-break-before: always;
}

.Card {
  display: inline-block;
  border: 1px #ccc solid;
  vertical-align: top;
  box-sizing: border-box;
}

.Widget {
  position: fixed;
  left: 1em;
  bottom: 1em;
  width: 600px;
  max-width: 100%;
}

.Widget :global(.ant-collapse) {
  background-color: #f9f9f9;
}

@media print {
  body {
    background-color: transparent;
  }

  .Widget {
    display: none;
  }
}
